#root{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


body{
    margin: 0;
    font-family:fantasy;
    background-color: #f9cfff;
    justify-self: center;
    color: #822b8a;
}

.count-card{
    background-color: #ffecf9;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 200px;
    margin: 20px auto;
}

button{
    background-color: #ffb3d9;
    border: none;
    border-radius: 10px;
    color: #822b8a;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 5px;
    margin-top: 5px;
}

#kezelo{
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

#kezelo .up{
    background-color: #ff99cc;
}
#kezelo .down{
    background-color: #ff66b2;
}